h1 {
    color: orange;
}

.bild img {
    width: 300px;
    height: auto;
}

.testen img {
    width: 200px;
    height: auto;
}

.charakterbild img {
    width: auto;
    height: 80px;
}

table td {
    border: 1px solid;
}