<!DOCTYPE html>
<html>
<head>
    <title>SATURN.GRÜßT</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'playground/style.css' %}">
</head>  <h1> hallo planet erde</h1>
 *hallo welt*
<body>
<p>-sadasalamanaf</p>

<p>-zugthaliesran</p>

<p>-fasghilowvis</p>

<li> sarahsendsgreetingsfromsaturn </li>



<p>Meine Lieblingsserie heißt Haikyuu!!.</p>

Der Mittelschüler Shōyō Hinata  begeistert sich für Volleyball, seit er die Übertragung der nationalen Meisterschaft
gesehen hat.
Auch ein kleiner Sportler wie er selbst spielte dabei mit, der dennoch den anderen überlegen war.
Mit ihm als Vorbild tritt Hinata dem Club seiner Schule bei, doch ist er darin der einzige Junge und muss allein oder
zusammen mit den Mädchen trainieren.
Dennoch zeigt er viel Talent und Einsatz. Zur Jugendmeisterschaft des Bezirks kann er endlich Mitspieler finden,
jedoch verlieren sie schon das erste Spiel. Dem Kapitän der gegnerischen Mannschaft, dem bekannten Tobio Kageyama, schwört er, ihn eines Tages zu besiegen.

Als Hinata auf die Oberschule kommt, wählt er die für die Volleyballmannschaft bekannte Karasuno-Oberschule aus,
auf die auch sein Vorbild ging. Doch dort trifft er auf Kageyama, der ebenso auf diese Schule wechselt.
Nun sind beide im gleichen Team und müssen sich auf Geheiß des Kapitäns zusammenraufen. Nachdem es den beiden im gemeinsamen Training gelingt, sich gegenseitig zu respektieren, kommt es zur Auseinandersetzung mit anderen Neuzugängen im Club.

Die Karasuno-Volleyballmannschaft wächst nach vielen Trainings, Testspielen und kleineren Turnieren immer mehr zusammen.
Vor allem Hinata und Kageyama spielen nun, trotz anfänglicher Streitereien, immer besser zusammen, und bringen überraschende Schnellangriffe zustande. Der Kapitän sieht großes Potenzial in der Mannschaft und hegt die Hoffnung, dass Karasuno irgendwann wieder bei den Nationalen Volleyballmeisterschaften teilnehmen wird. Um dieses Ziel zu erreichen, muss die Mannschaft in Turnieren andere starke Oberschulmannschaften schlagen. So bilden sich im Verlauf immer wieder neue Rivalitäten, aber auch alte Rivalen, wie das Team der Nekoma-Oberschule, werden wieder zu Gegnern.

</body>
</html>