<!DOCTYPE html>
<html>
<head>
    <title>Meine Lieblingsserie</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'playground/style.css' %}">
</head>
<body>
    <h1>Die Simpsons</h1>
    <p>Die Simpsons sind eine vielfach ausgezeichnete US-Amerikanische Serie</p>
    <p>Folgende Fakten zu der Serie gibt es:</p>
    <ol>
        <li>Serie mit den meisten Folgen</li>
        <li>Kreiert von Matt Groening</li>
        <li>Simpson ist der häufigste Nachname in den USA</li>
        <li>Springfield ist der meistverwendete Ortsname in den USA</li>
    </ol>
</body>
</html>